a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

table tr td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #202020;
}

a:hover {
    text-decoration: none;
}

a.panel-heading:visited {
    text-decoration: none !important;
}

:visited {
    text-decoration: none !important;
}

body {
    color: #202020;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: linear;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);

}


.panel-success>.panel-heading-custom {
    background: #F44336;
    color: #fff;
}

.panel-primary>.panel-heading-custom {
    background: #F44336;
    color: #fff;
}

.panel-primary>.panel-heading-custom {
    background: #F44336;
    color: #fff;
}

.span {
    display: table-cell;
    vertical-align: middle;

}

.panel-heading {
    border-radius: 0px;
}

.login {
    width: 80%;

}

.panel {
    border-radius: 0px;

}

/*footer css */
footer.page-footer {
    background-color: #202020;
    color: #fff;
    border-top: 4px solid #F44336;

}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: auto;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #F44336;

}

.white-text {
    color: #FFFFFF !important;
}

.footer .page-footer ul li {
    text-decoration: none;
}

.footerleft a {
    color: #fff;
}

.footerleft a:hover {
    color: #F44336;
}

.footerright ul {
    list-style-type: none;


}

.fix {
    position: fixed;
}

.modal-header {
    background-color: #F44336;
    color: #fff;
    align-self: center;
}

.modal-header modal-title {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Ubuntu', sans-serif;
}

.modal-footer {
    background-color: #F44336;
    color: #fff;
}

.modal-footer button {
    margin: 20px;
}

header {
    margin-bottom: 100px;
}

.title {
    font-size: 20px;
    color: #F44336;
    text-align: center;
    margin: 5px;
}

.title1 {

    font-size: 17px;
    color: #F44336;



}

.title2,
p {
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.active {
    background-color: #F44336;
    color: #fff;
}


.main_bg {
    color: #fff;
    background-color: #202020;
    text-align: center;
    position: relative;
    margin-top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%);
}

#ptprashanttripathi {
    vertical-align: middle;
}

#main_quote {
    background-color: #F44336;
    color: #fff;
    text-align: center;
    padding: 10px, 0;

}

/*css for main menu */
.lib {
    /* overflow: hidden;position: relative; */
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.lib a {
    text-align: left;
    width: 100%;
    height: 100%;
    color: #333;
    position: relative;
}

.ca-icon {
    font-size: 60px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ca-content {}

.ca-main {
    font-size: 30px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.ca-sub {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.lib_body:hover {
    background-color: #202020;
}

.lib:hover .ca-icon i {
    color: #F44336;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}

.lib:hover .ca-main {
    color: #F44336;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}

.lib:hover .ca-sub {
    color: #000;
    background-color: #F44336;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes smallToBig {
    from {
        -webkit-transform: scale(0.1);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes smallToBig {
    from {
        -moz-transform: scale(0.1);
    }

    to {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes smallToBig {
    from {
        -ms-transform: scale(0.1);
    }

    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }

    to {
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }

    to {
        -ms-transform: translateY(0%);
    }
}

.detail {
    padding: 60px;
}

#up {
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.card-photo img {
    width: 100%;
    height: 150px;
    margin: 0px;
}

.card-photo {
    padding: 0px;
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highcharts-container {
    width: 100% !important;
}

.social tbody tr td a {
    color: #2196F3;
    text-decoration: underline;

}

.social tbody tr td a:hover {
    text-decoration: none;
}

.clef {
    align-self: center;
    margin-top: 50px;
    padding: 50px;
}

.error {
    padding: 40px 15px;
    text-align: center;
}

.error-details {
    margin-top: 15px;
    margin-bottom: 15px;
}